.AboutMe-Container {
  height: 400px;
  width: 96%;
  border-bottom: 1px dotted grey;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.SectionTitle {
  text-align: center;
}

.About-Content {
  display: flex;
  height: 80%;
  align-items: flex-start;
}
