input, textarea {
  border: 1px solid #222;
}

.form-container {
  width: 250px;
  /* height: 250px; */
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

#contact-title {
  text-align: center;
}

#name-field {
  width: 95%;
}

#email-field {
  width: 95%;
}

#message-area {
  width: 95%;
  height: 70px;
}

#contact-btn {
  width: 98%;
  background-color: cyan;
  color: black;
  border: 1px solid #222;
  border-radius: 20px;

}

/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .form-container {
    margin: 10px auto;
  }
}
