.headshot-container {
  width: 30%;
  display: flex;
}

.headshot-photo {
  height: 250px;
  width: 250px;
  background-color: orange;
  margin: auto;
}

.headshot_photo_img {
  width: 100%;
  height: 100%;
}
