h3, p {
  padding: 0;
  margin: 0;
}

.App-logo {
  background-color: cyan;
  height: 75%;
  width: 20%;
  display: flex;
  margin: auto;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

.logo-item {
  margin: auto;
  text-align: center;
  color: black;
}

#full-name {
  text-transform: capitalize;
  /* font-weight: bold; */
  /* font-size: 20px; */
}

#occupation-title {
  font-style: italic;
  margin: 2px 0;
}

/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .App-header {
    flex-direction: column;
    height: auto;
  }

  .App-logo {
    font-size: 12px;
    width: 80%;
  padding-bottom: 35px;
  }

  #occupation-title {
    margin: auto;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
  .App-logo {
    width: 40%;
  }
}
