nav {
  margin: auto;
}

.navLinks {
  list-style: none;
  display: flex;
}

.nav-Link {
  margin: 0 10px;
  font-size: 20px;
  border: 1px solid white;
  padding: 10px;
  background-color: black;
}

.a-nav-link {
  color: white;
}

.a-nav-link:link {
  text-decoration: none;
}

.a-nav-link:visited {
  text-decoration: none;
}

.a-nav-link:hover {
    text-decoration: underline;
    color: lawngreen;
}

.nav-Link:hover {
    border-color: lawngreen;
}

.a-nav-link:active {
    text-decoration: underline;
}

/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .navLinks {
    padding: 0;
  }

  .nav-Link {
    font-size: 10px;
    border: 1px solid white;
    margin: 0 3px;
    padding: 10px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .navLinks {
    padding: 0;
  }

  .nav-Link {
    font-size: 12px;
    border: 1px solid white;
    margin: 0 3px;
    padding: 10px;
  }
}
