nav {
  margin: auto;
}

.navLinks {
  list-style: none;
  display: flex;
}

.nav-Link {
  margin: 0 10px;
}

.a-nav-link {
  color: white;
}

.a-nav-link:link {
  text-decoration: none;
}

.a-nav-link:visited {
  text-decoration: none;
}

.a-nav-link:hover {
    text-decoration: underline;
    color: cyan;
}

.a-nav-link:active {
    text-decoration: underline;
}

/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navLinks {
    padding: 0;
  }

  .nav-Link {
    font-size: 12px;
    border: 1px solid white;
    margin: 0 3px;
    padding: 0 5px;
  }
}
