.Skills-Container {
  /* height: 500px; */
  width: 100%;
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: column;
}

.Column-Container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.Experiences {
  margin: 0;
}

#experience-list {
  list-style: square;
  display: flex;
  justify-content: space-evenly;
  padding: 0 15px 0 0;
  font-weight: bold;
}

#resume-btn-container {
  display: flex;
}

#view-resume-btn {
  height: 40px;
  width: 120px;
  margin: 50px auto;
  background-color: #222;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

#exp-description {
  margin: 30px;
  text-align: center;
}

/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .Column-Container {
    flex-direction: column;
  }

  .Skills-Column {
    text-align: center;
  }

  .Skills-Column ul {
    list-style: none;
    padding: 0;
  }

}
