/* TODO NEED TO FIX FOR MOBILE PHONE*/

.Slider-Greeting {
  margin: auto;
  /* background-color: #222;
  padding: 10px;
  border-radius: 10px; */
}

.Greeting-Container {
  margin: auto;
  color: white;
  background-color: black;
  /* position: absolute; */
}

#scroller {
  color: lawngreen;
  text-decoration: underline;
}

#scroller span {
  position: absolute;
  background-color: black;
  width: 150px;
  padding: 0 140.2px;
  text-align: center;
}


/* SmartPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

.Greeting-Container{
  font-size: 1.3em;
  text-align: center;
}

}
